/*override Start*/
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f3f2f2 !important; }

* {
  outline: none !important; }

@media (min-width: 980px) {
  .container {
    width: 980px !important; } }
/*override End*/
/*override bootsrap style*/
.navbar-default {
  border-color: transparent;
  background-color: transparent; }

.navbar {
  margin: 0;
  border: none;
  min-height: 0; }

.header-con .logo-con {
  text-align: center;
  display: block;
  margin: 20px 0; }
.header-con .login {
  font-family: "Gotham-Bold", Open Sans, sans-serif;
  color: #50a7b1;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 45%; }
.header-con .menu-con {
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52a9ba+0,a0c7c6+100 */
  background: #52a9ba;
  /* Old browsers */
  background: -moz-linear-gradient(left, #52a9ba 0%, #a0c7c6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #52a9ba 0%, #a0c7c6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #52a9ba 0%, #a0c7c6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a9ba', endColorstr='#a0c7c6',GradientType=1 );
  /* IE6-9 */ }
  .header-con .menu-con ul {
    margin: 0;
    padding: 0; }
    .header-con .menu-con ul li {
      list-style: none;
      display: inline-block;
      padding: 6px 15px 5px 15px; }
      .header-con .menu-con ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Gotham-Bold", Open Sans, sans-serif;
        font-size: 16px;
        color: #ffffff; }
        .header-con .menu-con ul li a:hover {
          color: #d7f7ff; }

.main-con {
  background: url("../images/back-bg.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  background-color: #F0EEEE; }
  .main-con .center-con .hand-img {
    background: url("../images/lp-bg.png") no-repeat;
    display: block;
    width: 400px;
    height: 545px;
    background-position: 0 40px; }
    .main-con .center-con .hand-img.acc-setup {
      background: url("../images/acount-hand.png") no-repeat;
      width: 100%;
      height: 239px;
      background-position: 210px 1px; }
    .main-con .center-con .hand-img.services-hand {
      background: url("../images/services-home-hand.png") no-repeat;
      width: 100%;
      height: 475px;
      background-position: 80px 50px; }
  .main-con .center-con .account-title {
    font-family: "Gotham-Black", Open Sans, sans-serif;
    color: #59A7B2;
    font-size: 24px;
    text-transform: uppercase;
    padding: 30px 0; }
  .main-con .center-con .welcome-txt {
    font-family: "Gotham-Bold", Open Sans, sans-serif;
    color: #7FB2BF;
    font-size: 14px;
    text-align: center;
    padding-left: 155px;
    margin-bottom: 20px;
    line-height: 16px; }
  .main-con .center-con .text-con {
    padding: 70px 0 50px 0;
    position: relative;
    z-index: 99; }
    .main-con .center-con .text-con.padding-top {
      padding: 100px 0 50px 0; }
    .main-con .center-con .text-con .why-txt {
      font-size: 50px;
      line-height: 90%;
      font-family: "Gotham-Black", Open Sans, sans-serif;
      color: #58a9b3;
      text-transform: uppercase; }
    .main-con .center-con .text-con .powerful-txt {
      font-size: 57px;
      line-height: 80%;
      font-family: "Gotham-Black", Open Sans, sans-serif;
      background: url(../images/bg-clip-1.png) no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase; }
    .main-con .center-con .text-con .mobile-txt {
      font-size: 100px;
      line-height: 80%;
      font-family: "Gotham-Black", Open Sans, sans-serif;
      background: url(../images/bg-clip-2.png) no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase; }
    .main-con .center-con .text-con .presence-txt {
      font-size: 71px;
      line-height: 85%;
      font-family: "Gotham-Black", Open Sans, sans-serif;
      background: url(../images/bg-clip-2.png) no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase; }
    .main-con .center-con .text-con .business-txt {
      font-size: 36px;
      line-height: 85%;
      font-family: "Gotham-Black", Open Sans, sans-serif;
      background: url(../images/bg-clip-1.png) no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      display: block; }
    .main-con .center-con .text-con .broadkast-txt {
      font-size: 60px;
      line-height: 85%;
      font-family: "Gotham-Black", Open Sans, sans-serif;
      background: url(../images/bg-clip-1.png) no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      display: block;
      text-align: left; }
    .main-con .center-con .text-con .broadkast-label {
      font-family: "Gotham-Book", Open Sans, sans-serif;
      font-size: 18px;
      color: #363636;
      width: 90%;
      text-align: center;
      padding: 25px 0; }
    .main-con .center-con .text-con .btn-con {
      display: block;
      padding: 30px 0; }
      .main-con .center-con .text-con .btn-con.centered {
        text-align: center;
        width: 90%;
        padding: 0; }
      .main-con .center-con .text-con .btn-con .cta-btn {
        font-family: "Gotham-Bold", Open Sans, sans-serif;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 13px 0;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        width: 200px;
        text-align: center;
        display: inline-block; }
        .main-con .center-con .text-con .btn-con .cta-btn.sign {
          background: #0d7ca5;
          transition: all .4s; }
          .main-con .center-con .text-con .btn-con .cta-btn.sign:hover {
            background: #0b6789; }
        .main-con .center-con .text-con .btn-con .cta-btn.learn {
          background: #50a7b1;
          transition: all .4s;
          margin-right: 5px; }
          .main-con .center-con .text-con .btn-con .cta-btn.learn:hover {
            background: #458f98; }
        .main-con .center-con .text-con .btn-con .cta-btn.try-free {
          background: #50a7b1;
          transition: all .4s;
          margin-right: 5px;
          text-align: center; }
          .main-con .center-con .text-con .btn-con .cta-btn.try-free:hover {
            background: #458f98; }
    .main-con .center-con .text-con p {
      font-size: 14px;
      text-align: center;
      color: #323232;
      font-family: "Gotham-Book", Open Sans, sans-serif; }
  .main-con .center-con .form-con {
    width: 220px; }
    .main-con .center-con .form-con .act-label {
      font-family: "Gotham-Book", Open Sans, sans-serif;
      font-size: 12px;
      text-align: center;
      margin-bottom: 20px;
      color: #363637; }
    .main-con .center-con .form-con .signup {
      margin-bottom: 20px; }
      .main-con .center-con .form-con .signup input[type=text],
      .main-con .center-con .form-con .signup input[type=password] {
        border: none;
        border-radius: 6px;
        text-align: center;
        width: 100%;
        font-size: 12px;
        padding: 10px 10px;
        margin-bottom: 10px;
        font-family: "Gotham-Bold", Open Sans, sans-serif; }
        .main-con .center-con .form-con .signup input[type=text]::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #9E9E9E; }
      .main-con .center-con .form-con .signup input[type=submit] {
        border: none;
        border-radius: 6px;
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-family: "Gotham-Bold", Open Sans, sans-serif;
        background: #7FB2C0;
        padding: 10px 0;
        color: #ffffff;
        text-transform: uppercase;
        transition: all .2s; }
        .main-con .center-con .form-con .signup input[type=submit]:hover {
          background: #50A7B1; }

.services-con {
  background: #41a4b7;
  background: -moz-linear-gradient(top, #41a4b7 0%, #7eb9c1 64%, #a6c8c7 100%);
  background: -webkit-linear-gradient(top, #41a4b7 0%, #7eb9c1 64%, #a6c8c7 100%);
  background: linear-gradient(to bottom, #41a4b7 0%, #7eb9c1 64%, #a6c8c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a4b7', endColorstr='#a6c8c7',GradientType=0 ); }
  .services-con .title {
    font-family: "Gotham-Black", Open Sans, sans-serif;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;
    z-index: 9999; }
    .services-con .title:before, .services-con .title:after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      border-top: 4px solid #7FB2BF;
      width: 38%;
      top: 40px;
      z-index: 0; }
    .services-con .title:after {
      right: 0; }
  .services-con .service-offer {
    margin-bottom: 50px; }
    .services-con .service-offer .img-con {
      text-align: center;
      height: 80px; }
    .services-con .service-offer p {
      font-family: "Gotham-Bold", Open Sans, sans-serif;
      text-align: center;
      font-size: 18px;
      color: #ffffff;
      padding: 0 20px;
      height: 125px;
      margin-top: 20px; }
    .services-con .service-offer .btn-con {
      text-align: center; }
      .services-con .service-offer .btn-con .setup-btn {
        border: 1px solid #ffffff;
        border-radius: 6px;
        font-family: "Gotham-Bold", Open Sans, sans-serif;
        font-size: 18px;
        color: #ffffff;
        padding: 10px 30px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s; }
        .services-con .service-offer .btn-con .setup-btn:hover {
          border: 1px solid #0d7ca5;
          color: #0d7ca5; }

.footer-con {
  background: #50a7b1;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
  z-index: 99; }

/*# sourceMappingURL=style.css.map */
