// Colors
$white: #fff;
$lGray: #d1d1d1;
$mGray: #9b9b9b;
$dGray: #7e7e7e;
$hippieBlue: #50a7b1;
$powderBlue: #b2e3e8;
$glacier: #80b4c2;
$neptune: #8dc0c3;
$blueChill: #0d7da5;
$aqua: #abd8de;

$bodyFont: 400 14px/1.6em 'Montserrat', Arial, Sans-serif;